<div class="">
<!-- Begin page heading -->
<h1 class="page-heading">Breadcrumb and pagination <small>Sub heading here</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
    <li><a href="#fakelink">More elements</a></li>
    <li class="active">Breadcrumb and pagination</li>
</ol>
<!-- End breadcrumb -->

<!-- Begin breadcrumb color -->
<div class="the-box transparent full">
    <h4 class="small-title">BREADCRUMB COLOR</h4>
    <ol class="breadcrumb default">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb primary">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb success">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb info">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb danger">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb warning">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ol class="breadcrumb dark">
        <li><a href="#fakelink">Home</a></li>
        <li><a href="#fakelink">Library</a></li>
        <li class="active">Data</li>
    </ol>
</div><!-- /.the-box transparent -->
<!-- End breadcrumb color -->


<div class="row">
    <div class="col-sm-6">
        <!-- Begin breadcrumb style -->
        <div class="the-box">
            <h4 class="small-title">BREADCRUMB COLOR</h4>
            <p>Rounded</p>
            <ol class="breadcrumb success">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <p>Square</p>
            <ol class="breadcrumb primary square">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <p><i>&amp;rsaquo;</i></p>
            <ol class="breadcrumb danger rsaquo">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div><!-- /.the-box transparent -->
        <!-- End breadcrumb style -->
    </div><!-- /.col-sm-6 -->
    <div class="col-sm-6">
        <!-- Begin breadcrumb size -->
        <div class="the-box">
            <h4 class="small-title">BREADCRUMB SIZE</h4>
            <p>Large</p>
            <ol class="breadcrumb primary lg">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <p>Default</p>
            <ol class="breadcrumb success">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <p>Small</p>
            <ol class="breadcrumb danger sm">
                <li><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div><!-- /.the-box transparent -->
        <!-- End breadcrumb size -->
    </div><!-- /.col-sm-6 -->
</div><!-- /.row -->


<!-- Begin pagination color -->
<div class="the-box text-center">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="small-title">PAGINATION COLOR</h4>
            <ul class="pagination">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination primary">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination success">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination info">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination danger">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination warning">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h4 class="small-title">PAGINATION BLOCK COLOR</h4>
            <ul class="pagination block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination primary block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination success block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination info block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination danger block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
            <ul class="pagination warning block-color">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="disabled"><a href="#fakelink">‹</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">...</a></li>
                <li><a href="#fakelink">15</a></li>
                <li><a href="#fakelink">›</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End pagination color -->


<!-- Begin pagination style -->
<div class="row text-center">
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">SQUARE</h4>
            <ul class="pagination square">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">SEPARATED</h4>
            <ul class="pagination separated">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">SEPARATED SQUARE</h4>
            <ul class="pagination separated-square">
                <li class="disabled"><a href="#fakelink">«</a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">»</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
</div><!-- /.row -->
<!-- End pagination style -->



<!-- Begin pager -->
<div class="row">
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">PAGER COLOR</h4>
            <ul class="pager primary">
                <li class="previous"><a href="#fakelink">← Older</a></li>
                <li class="next"><a href="#fakelink">Newer →</a></li>
            </ul>
            <ul class="pager primary block-color">
                <li class="previous"><a href="#fakelink">← Older</a></li>
                <li class="next"><a href="#fakelink">Newer →</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">PAGER SQUARE</h4>
            <ul class="pager square">
                <li class="previous"><a href="#fakelink">← Older</a></li>
                <li class="next"><a href="#fakelink">Newer →</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="the-box">
            <h4 class="small-title">PAGER DEFAULT</h4>
            <ul class="pager">
                <li class="previous"><a href="#fakelink">← Older</a></li>
                <li class="next"><a href="#fakelink">Newer →</a></li>
            </ul>
        </div><!-- /.the-box -->
    </div><!-- /.col-sm-4 -->
</div><!-- /.row -->
<!-- End pager -->



</div>