<footer class="footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="site-footer-links">
                    <style type="text/css">
.site-footer-links li {
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
	padding-left: 5px;
}
                    </style>
                    <li>© 2015 <span title="">TMA Solution</span>, Inc.</li>
                    <li><a href="" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
                    <li><a href="" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
                    <li><a href="" data-ga-click="Footer, go to security, text:security">Security</a></li>
                    <li><a href="" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <ul class="site-footer-links right">
                    <li><a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
                    <li><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a></li>
                    <li><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
                    <li><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
                    <li><a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
                    <li><a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a></li>
                </ul>
            </div>
        </div>
</footer>