<div class="small-header">
	<div id="hbreadcrumb" class="pull-right m-t-lg">
		<button class="btn btn-md btn-xs btn-warning"><i class="fa fa-plus"></i> Add Project</button>
		<ol class="hbreadcrumb breadcrumb">
			<li>
				<button class="btn btn-md btn-xs btn-warning"><i class="fa fa-plus"></i> Add Project</button> 
                  <a ui-sref="dashboard" href="#/dashboard">Dashboard</a>
            </li>
			<li> <span>App Views</span> </li>
			<li> <span>Projects</span> </li>
		</ol>
	</div>
	<h1 class="page-heading">Projects <small>List of projects</small></h1>
</div>