@import url('../vendor/bootstrap/css/bootstrap.min.css');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #fffffb;
}

.navbar {
  margin-bottom: 0;
}


/* noticebar */
.noticebar-menu {
  width: 325px;
}
.noticebar-menu .nav-header {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
}
.noticebar-menu > li {
  display: table;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px dotted #ccc;
}
.noticebar-menu > li > a {
  padding: 8px 12px;
  font-size: 12px;
  white-space: normal;
}
.noticebar-item-image {
  width: 36px;
  font-size: 30px;
  text-align: center;
}
.noticebar-item-image, .noticebar-item-body {
  display: table-cell;
  vertical-align: middle;
}
.noticebar-item-body {
  padding-left: 10px;
}
.noticebar-item-title {
  display: block;
  font-weight: 700;
}
.noticebar-item-time {
  display: block;
  color: #777;
}

.noticebar-menu > li:last-child {
  border-bottom: none;
}
.noticebar-menu-view-all {
  text-align: center;
}

.noticebar-empty {
  padding: 25px 35px !important;
  text-align: center;
}
.noticebar-empty h4{
  font-size: 18px;
}
.noticebar-empty-title {
  color: #d74b4b;
}

.badge {
  position: absolute;
  top: 6px;
  right: 3px;
}

.badge-primary {
  background-color: #d74b4b !important;
}

/* mainnav */

.mainnav {
  position: relative;
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.mainnav-toggle {
  display: block;
  padding: 12px 0;
  color: #d74b4b;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.mainnav-toggle:hover {
  color: #d13232;
}
.mainnav-form {
  position: relative;
}
.mainnav-form-btn {
  position: absolute;
  top: 17px;
  right: 2px;
  color: #d74b4b;
  background-color: transparent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.mainnav-form-btn:hover {
  color: #9a2222;
}
.mainnav-menu {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
}
.mainnav-menu > li {
  position: relative;
}
.mainnav-menu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #999;
  font-weight: 600;
}
.mainnav-menu > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.mainnav-menu > li > a,
.mainnav-menu > li > a:hover,
.mainnav-menu > li > a:focus {
  text-decoration: none;
}
.mainnav-menu > li.open > a,
.mainnav-menu > li.open > a:hover,
.mainnav-menu > li.open > a:focus {
  color: #555;
  background-color: #f4f4f4;
  border-bottom-color: transparent;
}
.mainnav-menu .mainnav-caret:before {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: .25em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0d7";
  -webkit-font-smoothing: antialiased;
}
.mainnav-menu > li.active > a,
.mainnav-menu > li.active > a:hover,
.mainnav-menu > li.active > a:focus {
  color: #d74b4b;
  border-bottom-color: #d74b4b;
}
.mainnav:after {
  content: '';
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
}
.mainnav .dropdown-menu {
  min-width: 200px;
}
@media (min-width: 768px) {
  .mainnav-toggle {
    display: none;
  }
  .mainnav-collapse {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
    box-shadow: none;
  }
  .mainnav-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .mainnav-form {
    margin-top: 15px;
  }
  .mainnav-search-query {
    width: 300px;
	border-radius: 0px;
  }
  .mainnav-form-btn {
    top: 2px;
  }
  .mainnav-menu {
    margin-left: -15px;
  }
  .mainnav-menu > li {
    float: left;
    margin-right: 0;
  }
  .mainnav-menu > li > a {
    padding: 21px 15px;
    font-size: 14px;
    letter-spacing: -1px;
    border-bottom: 1px solid transparent;
  }
  .mainnav-menu > li > a:hover {
    background-color: #f3f3f3;
  }
  .mainnav-menu > li.active > a {
    border-bottom-color: #d23636;
  }
  .mainnav-menu > li.is-open > a {
    background-color: transparent;
  }
  .mainnav-menu .mainnav-caret {
    font-size: 13px;
  }
  .mainnav-menu > li > .dropdown-menu {
    top: 97%;
    border-color: #ccc;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mainnav-menu > li > .dropdown-menu:before,
  .mainnav-menu > li > .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .mainnav-menu > li > .dropdown-menu:after {
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-bottom-color: #fff;
    top: -6px;
    left: 10px;
  }
}
@media (min-width: 992px) {
  .mainnav-search-query {
      width: 300px;
  }
  .mainnav-menu > li {
    margin-right: 10px;
  }
  .mainnav-menu > li > a {
    font-size: 20px;
  }
  .mainnav-menu .mainnav-caret {
    top: -2px;
    font-size: 18px;
  }
  .lt-ie9 .mainnav-menu > li > a {
    font-size: 16px;
  }
  .lt-ie9 .mainnav-menu .mainnav-caret {
    font-size: 14px;
  }
}
@media (max-width: 767px) {

  .mobileIcon{
	color: white;
  }
  .mainnav-menu .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .mainnav-menu .dropdown-menu > li > a {
    padding-left: 25px;
  }
  .mainnav-menu > li.is-open .dropdown-menu {
    display: block !important;
  }
  .mainnav-form {
    float: none !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

/* container */
#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.btn-jumbo {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
}

.layout-main-left .layout-sidebar {
  padding-right: 15px;
  padding-left: 30px;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: inset 8px 0px 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 8px 0px 15px -10px rgba(0, 0, 0, 0.2);
}


h2.title{
	font-size: 30px;
}
.portlet-title, .content-title {
  position: relative;
  display: block;
  margin-bottom: 1.35em;
  border-bottom: 1px solid #e3e3e3;
}
.portlet-title u, .content-title u {
  display: inline-block;
  position: relative;
  top: 1px;
  padding-right: 1em;
  margin-top: 20px;
  padding-bottom: 15px;
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #6685a4;
}
.icons-list {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.notifications-list > li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2.5em;
  margin-bottom: 0;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
}

/* button */

  
/* Input Styles */

  .form-submit {
    width: 100%;
    padding: 20px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
	border-radius: 0px;
  }
  .form-submit.textarea{
    max-width: 100%;
  }
  
  /* selectpicker button */
  .btn.selectpicker {
	width: 100%;
    padding: 10px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    color:#727272 !important;
	border-radius: 0px;
  }
  
/* Send Button Styles */

.btn-submit{
	border:none;
    border-radius:1px;
    outline: none;
    margin:auto;
    height: auto;
    padding:13px;
    color:#fff;
	width:180px;
}
.btn-cancel{
	border:none;
    border-radius:1px;
    outline: none;
    margin:auto;
    height: auto;
    padding:13px;
    color:#000;
	width:180px;
}
/* footer */

.footer:before {
 }


/*  .footer {
 	color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: #194066;
  background-color: #e5e5e5;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
 } */ 

.footer {
background: #E9EAED;
line-height: 40px;
text-align: center;
  height: 120px;
}



