html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,ul{list-style:none}


body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #fffffb;
}

.navbar {
  margin-bottom: 0;
}

.toolbar {
  box-sizing: border-box;
  margin: 0 -20px;
  height: 54px;
  padding: 1em;
  font-weight: 500;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.toolbar button {
  margin: -0.8em -0.375em;
  padding: 0.75em;
  font-size: 1.25rem;
  color: #295162;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 0px;
  border: none;
}
.toolbar .button-group:first-child {
  float: left;
}
.toolbar .button-group:nth-child(2) {
  float: right;
}



	button.subscribe {
  position: relative;
  top: -4px;
  left: -11px;
}
button.subscribe span {
  position: absolute;
  top: 0;
  left: 5px;
}
button.subscribe span:last-child {
  font-size: 0.5em;
  top: 7px;
  left: 10px;
}

















h2 {
  margin: 0.625em 0;
  margin-top: 1.875em;
  font-size: 0.875em;
  font-weight: 500;
  color: #9e9ea9;
}

ul.schedule li {
  overflow: hidden;
  margin: 0 -10px -1px -10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
ul.schedule li .date {
  float: left;
  padding: 0.125em 0.75em 0 0;
  margin-left: 0.25em;
  margin-right: 0.75em;
  font-weight: bold;
  text-align: center;
  border-right: 3px solid #ddd;
}
ul.schedule li .date .weekday, li .date .day {
  display: block;
}
ul.schedule li .date .weekday {
  font-size: 0.75em;
}
ul.schedule li .date .day {
  margin-top: -2px;
  font-size: 1.3em;
}
ul.schedule li a {
  position: relative;
  top: 3px;
  display: block;
  float: right;
  width: 40px;
  line-height: 2.5;
  text-align: center;
}
li h3 {
  font-weight: bold;
}
ul.schedule li .duration, li .location {
  font-size: 0.875em;
  color: #9e9ea9;
}
ul.schedule li .duration {
  margin-right: 0.25em;
  padding-left: 0.1em;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

ul.schedule li.past {
  color: #9e9ea9;
  background-color: #eee;
}

ul.schedule li.next .date {
  border-right-color: LightSeaGreen;
}



/* search form */
.form-control.search {
  width: 300px !important;
  height: 27px;
  margin-top: 3px;
  border-radius: 14px;
}
