<div>
<!-- Begin page heading -->
<h1 class="page-heading">Nav and dropdown <small>Sub heading here</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
    <li><a href="#fakelink">More elements</a></li>
    <li class="active">Nav and dropdown</li>
</ol>
<!-- End breadcrumb -->


<!-- Begin dropdown color -->
<div class="the-box">
    <h4 class="small-title">DROPDOWN COLOR</h4>
    <div class="row">
        <div class="col-sm-4">
            <ul class="dropdown-menu dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <ul class="dropdown-menu primary dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <ul class="dropdown-menu success dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <ul class="dropdown-menu info dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <ul class="dropdown-menu danger dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <ul class="dropdown-menu warning dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
                <li class="disabled"><a href="#fakelink">Disabled link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End dropdown color -->


<!-- Begin dropdown style -->
<div class="the-box">
    <h4 class="small-title">DROPDOWN STYLE</h4>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="small-title">Default</h4>
            <ul class="dropdown-menu dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <h4 class="small-title">Square</h4>
            <ul class="dropdown-menu square dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <h4 class="small-title">Square and padding</h4>
            <ul class="dropdown-menu square margin-list dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="small-title">Square and rounded item</h4>
            <ul class="dropdown-menu square margin-list-rounded dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <h4 class="small-title">Square and no border</h4>
            <ul class="dropdown-menu square no-border dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <h4 class="small-title">With triangle</h4>
            <ul class="dropdown-menu with-triangle dropdown-visible" role="menu">
                <li><a href="#fakelink">Action</a></li>
                <li><a href="#fakelink">Another action</a></li>
                <li class="active"><a href="#fakelink">Active</a></li>
                <li class="divider"></li>
                <li><a href="#fakelink">Separated link</a></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div>
<!-- End dropdown style -->



<!-- Begin navbar color  -->
<div class="the-box">
<!-- Begin defaulr navbar -->
<h4 class="small-title">DEFAULT NAVBAR</h4>
<nav class="navbar square navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End defaulr navbar -->

<hr>

<!-- Begin primary navbar -->
<h4 class="small-title">PRIMARY NAVBAR</h4>
<nav class="navbar square navbar-primary" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End primary navbar -->

<hr>

<!-- Begin success navbar -->
<h4 class="small-title">SUCCESS NAVBAR</h4>
<nav class="navbar square navbar-success" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu success square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu success square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End success navbar -->

<hr>

<!-- Begin info navbar -->
<h4 class="small-title">INFO NAVBAR</h4>
<nav class="navbar square navbar-info" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu info square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu info square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End info navbar -->

<hr>

<!-- Begin danger navbar -->
<h4 class="small-title">DANGER NAVBAR</h4>
<nav class="navbar square navbar-danger" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu danger square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu danger square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End danger navbar -->

<hr>

<!-- Begin warning navbar -->
<h4 class="small-title">WARNING NAVBAR</h4>
<nav class="navbar square navbar-warning" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu warning square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu warning square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End warning navbar -->

<hr>

<!-- Begin inverse navbar -->
<h4 class="small-title">INVERSE NAVBAR</h4>
<nav class="navbar square navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End inverse navbar -->

<hr>

<!-- Begin rounded navbar -->
<h4 class="small-title">ROUNDED NAVBAR</h4>
<nav class="navbar navbar-primary" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-rounded">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-rounded">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End rounded navbar -->

<hr>

<!-- Begin no border navbar -->
<h4 class="small-title">NO BORDER NAVBAR</h4>
<nav class="navbar no-border square navbar-primary" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-no-border">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#fakelink">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-no-border">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Link</a></li>

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary no-border square margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li class="active"><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu primary square no-border margin-list-rounded with-triangle">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End no border navbar -->


</div><!-- /.the-box -->
<!-- End navbar color  -->




<!-- Begin nav tabs color -->
<div class="the-box">
    <h4 class="small-title">NAV TABS COLOR</h4>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-primary">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-success">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-info">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-danger">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-warning">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-primary item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-success item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-info item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-danger item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-warning item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- .row -->
</div><!-- /.the-box -->
<!-- End nav tabs color -->



<!-- Begin nav square -->
<div class="the-box">
    <h4 class="small-title">NAV TABS SQUARE</h4>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-primary square">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <ul class="nav nav-tabs square nav-primary item-color">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
</div>
<!-- End nav square -->



<!-- Begin nav type -->
<div class="the-box">
    <h4 class="small-title">NAV TABS POSITION</h4>
    <div class="row">
        <div class="col-sm-3">
            <h4 class="small-title">Nav tabs left</h4>
            <ul class="nav nav-tabs left-position">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul>
        </div><!-- /.col-sm-3 -->
        <div class="col-sm-6">
            <h4 class="small-title">Nav tabs bottom</h4>
            <ul class="nav nav-tabs bottom-position">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-3">
            <h4 class="small-title">Nav tabs right</h4>
            <ul class="nav nav-tabs right-position">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul>
        </div><!-- /.col-sm-3 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End nav type -->



<!-- Begin nav dropdown -->
<div class="the-box">
    <h4 class="small-title">NAV TAB DROPDOWN</h4>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-tabs nav-primary left-position">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#fakelink">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu primary" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.col-sm-3 -->
        <div class="col-sm-9">
            <ul class="nav nav-tabs nav-primary">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#fakelink">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu primary" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.col-sm-9 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End nav dropdown -->



<!-- Begin nav pills color -->
<div class="the-box">
    <h4 class="small-title">NAV PILLS COLOR</h4>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
            <ul class="nav nav-pills nav-primary">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
            <ul class="nav nav-pills nav-success">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills nav-info">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
            <ul class="nav nav-pills nav-danger">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
            <ul class="nav nav-pills nav-warning">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
                <li class="disabled"><a href="#fakelink">Disabled</a></li>
            </ul><br>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End nav pills color -->



<!-- Begin nav pills type -->
<div class="the-box">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="small-title">NAV PILLS SQUARE</h4>
            <ul class="nav nav-pills nav-primary square">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul><br>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <h4 class="small-title">STACKED</h4>
            <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li><a href="#fakelink">Messages</a></li>
            </ul><br>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->

<div class="the-box">
    <h4 class="small-title">NAV PILLS DROPDOWN</h4>
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills nav-primary nav-pills-showcase">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Profile</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#fakelink">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu primary" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul><br>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <ul class="nav nav-pills nav-primary nav-stacked nav-pills-showcase">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#fakelink">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu primary" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </li>
            </ul><br>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.the-box -->
<!-- End nav pills type -->



</div>